.filepond--root {
  font-size: 1.6rem !important;
}

.schemaform-title {
  background-color: #d9e8f6 !important;
}

.schemaform-title h1 {
  margin-top: 0;
  font-size: 2rem;
}

.progress-segment {
  margin-left: 0;
  margin-right: 0;
}

/*.progress-segment-complete {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}*/

.progress-segment:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.progress-segment:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.progress-bar-segmented {
  height: 16px;
}

.schemaform-chapter-progress {
  display: none;
}

.progress-box-schemaform {
  margin-top: 3rem;
}
