/*
sass/config/variables stuff
 */
$font-prefix: '../node_modules/@ibm/plex/';
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
// these sass variables aren't all working (at least color isn't)

// MADE IT RED SO WE CAN SEE IT WORKING A LOT
// $color-primary: #0050d8;
$color-primary: red;

$font-sans: 'IBM Plex Sans', sans-serif;

$asset-path: '../node_modules/uswds/src/';
@import '../node_modules/us-forms-system/src/scss/styles.scss';

/*
general/global overrides,
these might be bad depending where the form ends up
*/

/* input style dosen't affect description widget atm */
input,
textarea {
  border-radius: 4px;
  border-color: #adadad;
}

input[type='radio'] {
  border-color: #dbdee1;
  opacity: 1;
}

[type='checkbox'] + label,
[type='radio'] + label {
  padding: 10px 13px 11px 12px;
}

[type='radio'] + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #dbdee1;
}

label {
  margin-top: 0px;
}

/*
form overrides
 */

[class^='schemaform'] {
  font-family: $font-sans;
}

.schemaform-widget-wrapper {
  margin-top: 46px;
}

// affect nested children while hopefully avoiding future collision probs
[class^='schemaform'] > body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

//this is really more the container for buttons not the buttons themselves
//leaving it here for refrence becuase it has some goofy relationships with
//the other stuff being overidden
.form-radio-buttons {
}

/*
miscellaneous overrides
 */
.filepond--root {
  font-size: 1.6rem !important;
}
