/*
sass/config/variables stuff
 */
$font-prefix: '../node_modules/@ibm/plex/';
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';

$color-primary: #0050d8;

$odd-font: 'IBM Plex Sans', sans-serif;
$font-sans: $odd-font;
$font-serif: $odd-font;

// THIS IS IMPORTANT to use SASS
$asset-path: '../node_modules/uswds/src/';
@import '../node_modules/us-forms-system/src/scss/styles.scss';

/*
general/global overrides,
these might be bad depending where the form ends up
*/

[class*='usa-button'] {
  height: 40px;
}

* {
  font-family: $odd-font;
}

.body {
  font-weight: 400;
}

/* input style dosen't affect description widget atm */
input,
textarea,
select {
  border-radius: 4px;
  border-color: #dbdee1;
}

[type='checkbox'] + label,
[type='radio'] + label {
  padding: 10px 13px 11px 12px;
}

[type='radio'] + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #dbdee1;
}

input[type='radio']:checked + label {
  background-color: #d9e8f6;
}

label {
  margin-top: 0px;
  font-size: 18px;
  max-width: 100%;
}

/*
form overrides
 */
.schemaform-title {
  background-color: #d9e8f6;
  align-content: center;
  text-align: center;
  display: block;
  width: 100%;
  min-height: 58px;
  box-shadow: 0px 1px 3px $color-shadow;
}

// might fight a losing battle here changing the h1 style
.schemaform-title > h1 {
  font-size: 14px;
  padding-top: 17px;
  font-weight: 400;
  color: #162e51;
}


.schemaform-intro h2 {
  font-size: 24px;
  font-weight: 500;
}

.schemaform-intro h3 {
  font-size: 18px;
}

.schemaform-intro h4 {
  font-size: 16px;
}

.schemaform-block-title {
  font-size: 24px;
  font-weight: 400;
  color: #171717;
}

.schemaform-block-header {
  text-align: center;
}

.schemaform-widget-wrapper {
  border-radius: 4px;
}

.schemaform-field-template {
  margin-bottom: 20px;
}

.site-header {
  margin-bottom: 0px;
}

.schemaform-chapter-progress {
  display: none;
}

.progress-bar-segmented {
  padding: 0px 60px 0px 60px;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 13px;
}

.progress-segment:first-child {
  border-radius: 7px 0px 0px 7px;
}

.progress-segment:last-child {
  border-radius: 0px 7px 7px 0px;
}

// 'de-segment' that progress bar
.progress-segment {
  margin-left: -1px;
  margin-right: -1px;
}

.form-radio-buttons {
  box-shadow: 0 0 0 1px #dbdee1;
  border-radius: 4px;
  margin-top: .5em;
}

/* intro page */


.form-rule {
  border-color: $color-primary;
}

.accordion-rule {
  border-color: rgba(#005ea2, 0.25);
}

.accordion-list {
  list-style-type: disc;
}

.intro-nav-container,
.intro-select,
.intro-about {
  color: $color-primary;
}

.intro-nav-container {
  padding: 20px 14px 20px 14px;
  height: 65.28px;
  // padding: 1.5rem 5.5rem 1.5rem 2rem;
}

.nav-heading {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.075em;
}

.arrow_back {
  color: #adadad;
  position: relative;
  top: 5px;
  padding-right: 16px;
}

.intro-heading {
  margin-top: 15.7px;
}

.usa-alert {
  padding: 0px;
  border-radius: 4px;
}

.usa-alert-info .usa-alert-body {
  padding-left: 30px;
  padding-right: 30px;
}

.usa-alert-info::before {
  background-color: #d9e8f6;
  width: 0px;
}

.usa-alert-info {
  padding-left: 0px;
  padding-top: 70px;
  background-color: #d9e8f6;
  background-position: 50% 24px;
}

.usa-alert-heading {
  color: #162e51;
  font-size: 18px;
  margin-bottom: 16px;
}

.usa-alert-text {
  color: #162e51;
  font-size: 14px;
  margin-bottom: 25px;
}

legend.schemaform-label {
  font-size: 18px;
}

.schemaform-block-subtitle {
  text-align: left;
}

.accordion-header.clearfix.schemaform-chapter-accordion-header > button {
  color: #0050d8;
  font-weight: 500;
}

.filepond--root {
  font-size: 1.6rem !important;
  margin-top: .5em;
}

#root > div > div > div > div.schemaform-intro > div.usa-grid > ul > li {
  border-radius: 4px;
}

.usa-accordion-button {
  font-weight: 500;
  border-radius: 4px;
  min-height: 65.28px;
}

.usa-accordion-content {
  border-radius: 4px;
}

.pin {
  z-index: 20;
}

.mapboxgl-ctrl-top-left {
  max-width: 300px;
}

.mapboxgl-ctrl-geolocate {
  position: absolute;
  z-index: 20;
  left: 270px;
  top: 15px;
  background-color: #ffffff;
}

/*
hacky overrides
 */
#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(8)
  > div
  > div
  > div:nth-child(3)
  > div
  > div
  > p {
  color: #757575;
}

#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(5)
  > div
  > div
  > div.schemaform-widget-wrapper
  > div
  > div
  > div
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-left
  > div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl
  > div
  > button {
  position: absolute;
  z-index: 2;
  left: 210px;
  top: 15px;
  box-shadow: none;
}

#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(5)
  > div
  > div
  > div.schemaform-widget-wrapper
  > div
  > div
  > div
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-left
  > div.mapboxgl-ctrl.mapboxgl-ctrl-group
  > button {
  position: absolute;
  z-index: 2;
  left: 280px;
  top: 15px;
  box-shadow: none;
}

.mapboxgl-ctrl-group {
  box-shadow: none;
  width: 300px;
}

#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(5)
  > div
  > div
  > div.schemaform-widget-wrapper
  > div
  > div
  > div
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-left
  > div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl
  > input[type='text'] {
  width: 90%;
  font-size: 1.6rem;
  font-family: $odd-font;
}

#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(5)
  > div
  > div
  > div.schemaform-widget-wrapper
  > div
  > div
  > div
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-left
  > div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl
  > div
  > button {
  box-shadow: none;
}

#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(5)
  > div
  > div
  > div.schemaform-widget-wrapper
  > div
  > div
  > div
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-left
  > div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl
  > div
  > button {
  display: inline-block;
  width: 30px;
  top: 8px;
  left: 250px;
  box-shadow: none;
}

#root
  > div
  > div
  > div
  > div.progress-box.progress-box-schemaform
  > div
  > div
  > form
  > fieldset
  > div
  > div:nth-child(5)
  > div
  > div
  > div.schemaform-widget-wrapper
  > div
  > div
  > div
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-top-left
  > div.mapboxgl-ctrl.mapboxgl-ctrl-group {
  box-shadow: none;
}
