$font-prefix: "../node_modules/@ibm/plex/";
@import "node_modules/@ibm/plex/scss/ibm-plex.scss";

.filepond--root {
  font-size: 1.6rem !important;
}

$font-sans: "IBM Plex Sans", sans-serif;

// this should work but dosen't
[class^="schemaform"] {
  font-family: $font-sans;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}
.schemaform-required-span {
  color: #FA9441;
}

/* input style dosen't affect description widget atm */
input, textarea {
  border-radius: 4px;
  border-color: #ADADAD;
}
